<!-- RENDERING A COMMENT WITH COMMENT, NAME OF COMMENTER, AND DATE COMMENTED-->
<section>
  <div class="row comment-div">
    <h6 class="empty-comment-title">
      <br>
    </h6>
    <p class="col s12 posted-comment">{{comment}}  -{{user.name}}, {{format_date date_created}}</p>
  </div>
</section>