<div class="row">
  <div class="col-md-6">
    <h3 id="login-page-title">login</h3>
    <form class="form login-form">
      <div class="form-group">
        <label for="username-login">username:</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div id="login-div" class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
    <div id="create-account-div" class="center">
      <button id="create-account-btn" class="btn btn-primary"><a
          href="/signup"
          id="create-account"
        >create account</a></button>
    </div>
  </div>
</div>

<script src="/public/js/login.js"></script>