<!-- RENDER THE POST-DETAILS TEMPLATE FOR THE SPECIFIC POST -->
{{> post-details}}
<!-- SHOW EDIT AND DELETE BUTTONS FOR A POST IF ITS THE USER'S POST -->
{{#if userPost}}
{{#if loggedIn}}
<div>
    <!-- DELETE POST BUTTON -->
    <button id="delete-post" class="btn btn-primary right waves-effect waves-light btn-small" data-id="{{id}}"><i class="material-icons" data-id="{{id}}">delete</i></button>
    <!-- EDIT POST BUTTON -->
    <a href="/editpost/{{id}}"><button id="edit-post" class="btn btn-primary right waves-effect waves-light btn-small"><i class="material-icons">edit</i></button></a>
</div>
{{/if}}
{{/if}}
<!-- COMMENTS FOR THE SPECIFIED POST -->
<h5 id="comment-section-label">comments:</h5>
<!-- RENDER THE COMMENT-DETAILS TEMPLATE FOR EACH COMMENT OF THE POST -->
{{#each comments as |comment|}}
{{> comment-details}}
{{/each}}
<!-- IF THE USER IS LOGGED IN, FORM TO ADD A COMMENT TO THE POST -->
{{#if loggedIn}}
<div class="row">
  <div class="col-md-6">
    <h5>add comment</h5>
    <form class="form new-comment-form">
      <div class="form-group">
        <label for="comment">comment:</label>
        <input class="form-input" type="text" id="comment" />
      </div>
      <div class="form-group center">
        <button class="btn btn-primary" type="submit">submit</button>
      </div>
    </form>
  </div>
</div>
{{/if}}

<!-- IF THE USER IS LOGGED IN, JAVASCRIPT LOGIC FOR ADDING A NEW COMMENT TO POST -->
{{#if loggedIn}}
<script src="/js/addcomment.js"></script>
{{/if}}
<!-- IF ITS THE USER'S POST, JAVASCRIPT LOGIC FOR EDIT & DELETE BUTTONS -->
{{#if userPost}}
<script src="/js/deletepost.js"></script>
{{/if}}